[2016-02-23 02:41] zhubuntu opened #2 "The lenet.cpp example runs ok ,but accuracy does not improve"
I'm trying to use the lenet.cpp example.It can runs,But the accuracy always remain 0.0980952.
![qq 20160223102919](https://cloud.githubusercontent.com/assets/15666683/13240310/9746a54e-da1c-11e5-91ca-c61107d33ae9.jpg)

I did make some changes about the lenet.cpp
from

[code]

to

[code]

Because I found It will report error with the former code
`Microsoft C++ 异常: std::length_error，位于内存位置 0x0000009

[2016-02-23 03:47] zhangchen-qinyinghua commented on #2
I am not familiar with Windows programming, however, Symbol::Variable(str) and Symbol(str) should be in some degree the same.

As for the accuracy issue, could you please paste me your full code here?
In fact, the change you refer the https://github.com/hjk41/MxNet.cpp/issues/12 should not be necessary.

[2016-02-23 06:51] hjk41 commented on #2
@zhubuntu are you using cpu or gpu? If you are using GPU on windows, then it might be related to this bug: https://github.com/dmlc/mxnet/issues/1228 . In this case, try the latest binary build to see if it fixes your problem.

[2016-02-23 06:53] hjk41 opened #4 "Enable Travis and AppVeyor checking"
MxNet has Travis and AppVeyor, it checks lint formatting and make sure tests are passed before a PR is merged. We should also enable that.

[2016-02-25 02:36] zhubuntu commented on #2
@zhangchen-qinyinghua  @hjk41 I try the latest binary and C++ wrapper, it works fine now.But there are some questions.
- The accuracy is not very good.The old code  written by @zhangchen-qinyinghua before using this C++ wrapper to train mnist can achieve 0.965867 at the first epoch.But after use this C++ Wrapper, It can only achieve 0.869683 at the 20 epoch.After I delete the conv3,thnh3 and pool3

[2016-02-25 05:53] #4 closed, assigned to conopt

[2016-02-25 10:50] zhangchen-qinyinghua commented on #2
1.
It should be that the accuracy differs because of the different training process and the usage of Optimizer.
The weight decay and decreasing learning rate must slow down the learning, I suppose.
I get the following result:

[code]

It's no good of course, data augmentation with drop out and bigger net should take the accuracy exceeding 99%

2.
As for the link and compile error, maybe it's becau

[2016-02-26 02:02] hjk41 commented on #2
For the compiler errors, I think we should add #include <stdint.h> to
c_api.h directly. You can make a PR to mxnet for this.

On Thu, Feb 25, 2016 at 6:50 PM, Zhang Chen notifications@github.com
wrote:

##

HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-02-26 02:39] zhubuntu commented on #2
@zhangchen-qinyinghua I compare the  two codes.All the parameters are same.
So I don't think this is  because the  weight decay and decreasing learning rate.I'll try to find why.

[2016-02-26 06:48] hjk41 opened #10 "setup AppVeyor to check Windows build"

[2016-02-26 10:01] conopt commented on #10
AppVeyor has been set up.

[2016-02-26 10:01] #10 closed, assigned to conopt

[2016-02-28 00:41] slaweks17 opened #11 "how to use train_ads.cpp example"
I compiled train_ads.cpp example in Windows directory. To execute it I need to pass a parameter (apparently some data file name), but I can't find any information what it is supposed to be.

[2016-02-29 02:54] hjk41 commented on #11
The train_ads example requires a large data file. So I just removed it and replaced it with MLP, which is able to run without manually downloading data. Please checkout the latest code and reopen the visual studio solution.

[2016-03-11 12:01] zhubuntu opened #13 "can't use dmlc::Stream::Create"
I'm trying use dmlc::Stream::Create to save the ndarray,but VS reports unresolved external symbol.

Will this function be added to MXNet.cpp

[2016-03-14 07:37] #2 closed, assigned to nobody

[2016-03-23 02:29] zhubuntu opened #16 "How to use Crop"
I have found the C++ wrapper of crop at [here](https://github.com/dmlc/MXNet.cpp/blob/a57542555903e6958b96fed13919505283f1b14e/include/op.h#L354),but I don't know how to use it.
In caffe model,the crop has two input and one output,but in this c++ wrapper,it shows

[code]

I don't know  where to define the input symbol,and in the comment ,it also says

[code]

[2016-03-28 09:09] hjk41 commented on #16
sorry for late reply. I will make a PR to fix it.

[2016-03-28 09:27] hjk41 commented on #16
sorry for late reply. It should be usable using something like this:

[code]

or

[code]

[2016-03-28 10:03] hjk41 commented on #13
Nope. We will expose the DataIterator interface, which is already in c_api.h, instead of exposing the Stream interface directly. If you really need to use Stream directly, you better include the corresponding cpp file directly.

[2016-03-28 10:35] zhubuntu commented on #16
@hjk41 Thanks,I try what you say ,but it reports

[code]

So I change the

[code]

to

[code]

for a temporary solution.

[2016-03-28 10:43] zhubuntu commented on #13
@hjk41 I'm little confuse about this. How do I use DataIterator interface to save ndarray,was it already in this C++ wrapper.

[2016-03-29 01:36] hjk41 commented on #16
Great move. Let me see why the code I posted does not work and fix it.

On Mon, Mar 28, 2016 at 6:35 PM, zhubuntu notifications@github.com wrote:

##

HONG Chuntao
System Research Group
Microsoft Research Asia

[2016-03-29 03:03] zhubuntu opened #17 "FCN can run but accuracy is poor"
I'm writting a FCN example,the program can run ,but accuracy is very poor, always about 0.33
Here is the code i write, to find the problem, I change the code so the program just train one image for 10000 times.
This code mainly refer to [caffee model](https://gist.github.com/longjon/ac410cad48a088710872) and [FCN  of mxnet python version](https://github.com/dmlc/mxnet/tree/0826a1f17da3e2ab4ca0591f

[2016-03-30 09:53] CrossLee1 opened #18 "CUDA: out of memory"
when I ran ./feature_extract repeatedly with hundreds of images, I encounter the following error.
I find that when the program is running ,the memory grows rapidly, and finally overflow.
Could someone kindly tell me why? Thanks~

`[17:46:08] ./dmlc-core/include/dmlc/././logging.h:241: [17:46:08] src/storage/./gpu_device_storage.h:39: Check failed: e == cudaSuccess || e == cudaErrorCudartUnloading

[2016-03-31 03:21] zhangchen-qinyinghua commented on #18
Try delete the executor at the end of each round.
like the following:

[code]

[2016-03-31 12:57] zhubuntu commented on #17
After test I found it's the problem of Deconvolution, if I remove the Deconvolution layer, this program can train well,although with Crop it can only achieve 0.76.
But I don't know what's wrong with the Deconvolution layer

[2016-04-01 08:34] zhubuntu commented on #17
I rewrite the code, mainly add the init_fcnx() function arrcoding to the python code,now with the same picture,it can now achieve 0.87 with the same piture to tese and train,maybe you can help me check if there is problem about my code

[code]

[2016-04-05 01:41] #17 closed, assigned to nobody

[2016-04-05 02:48] zhubuntu opened #19 "unresolved external symbol Symbol::operator+"
In the FCN-16s model , I'm trying to use

[code]

then it reports
unresolved external symbol  Symbol::operator+.

Can you write a function for this?@zhangchen-qinyinghua
I'm tring to use [`MXSymbolGetAtomicSymbolInfo`](https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/c_api.h#L468),but not very clear how to use it.

[2016-04-05 03:28] #16 closed, assigned to nobody

[2016-04-06 09:04] zhangchen-qinyinghua commented on #17
@zhubuntu

I've run your first version of this code.
Maybe you could make a PR on this to our examples, If you'd like to.

[2016-04-06 09:06] zhangchen-qinyinghua commented on #19
Sure.
These operators are declared but not defined.
I'll try to make an implement a.s.a.p.

[2016-04-06 09:08] zhangchen-qinyinghua commented on #17
Oh, yeah.
There are still the crop problems.
Maybe we can modify the OP.h by hand for now.

[2016-04-08 00:59] zhubuntu commented on #17
@zhangchen-qinyinghua Ok,I'll make a PR after the crop problem is solved.

[2016-04-10 12:29] zhubuntu commented on #19
@zhangchen-qinyinghua I write a simple implement ,can you help me find where is wrong ?

[code]

The code i use to test this is

[code]

[2016-04-11 09:15] zhangchen-qinyinghua commented on #19
@zhubuntu

Please use codes as the following:

[code]

I will make a PR about the elementary operators today.

[2016-04-11 09:17] #18 closed, assigned to nobody

[2016-04-11 09:18] zhangchen-qinyinghua commented on #13
@zhubuntu
To save and load a NDArray, try

[code]

[code]

[2016-04-12 03:43] zhangchen-qinyinghua commented on #19
This PR should pass your test code.

https://github.com/dmlc/MXNet.cpp/pull/20

[2016-04-12 03:44] #11 closed, assigned to nobody

[2016-04-13 01:40] #19 closed, assigned to nobody

[2016-04-13 02:59] zhubuntu commented on #13
@zhangchen-qinyinghua Thanks for your help ,but i think the definition of  `static void Save(const std::string &file_name, const std::vector<NDArray> &array_list);` is wrong.

[code]

it didn't give the `args`  value. And I change it to this

[code]

My computer always report error when making PR,so maybe you can do this.

[2016-04-13 03:28] zhangchen-qinyinghua commented on #13
Thanks for your work.
It's fixed.

[2016-04-13 06:04] #13 closed, assigned to nobody

[2016-04-15 14:14] wsybupt opened #21 "What's the problem that "Segmentation fault ""
When I run the example mlp, I get the message that "Segmentation fault".
And I debug with the gdb, the message is as follow

[code]

[2016-04-17 19:49] tqchen opened #22 "consider rename readme title as mxnet c++ package"

[2016-04-17 19:51] tqchen opened #23 "Use static variable to get function once"
e.g. in https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/ndarray.hpp#L59

Change function handle to static, and use a first time initialize strategy, so there is no need to get the function again and save this overhead

[2016-04-19 07:40] zhangchen-qinyinghua commented on #23
OK.

I am considering an update of MXNET.cpp these days.

[2016-04-20 02:57] zhangchen-qinyinghua commented on #21
please try latest MXNET.cpp and mxnet to see if it solves your problem.
https://github.com/dmlc/MXNet.cpp/pull/24

[2016-04-20 03:21] wsybupt commented on #21
@zhangchen-qinyinghua Can you tell me how to make the MXNET.cpp in detail? I read the readme but I'm not  sure if I am right.

[2016-04-20 03:52] zhangchen-qinyinghua commented on #21
Seems to me your platform is Linux. So, it should be easy to compile mlp using the Makefile.
Compile mxnet,  then

[code]

[2016-04-20 07:13] zhangchen-qinyinghua commented on #21
MXNET.cpp itself is a header-only library based on mxnet, which doesn't need compile.

[2016-04-20 07:17] wsybupt commented on #21
@zhangchen-qinyinghua
Yes, I know that and what I did is like you said.
I have use the latest. But when I run the mlp, the line 53 will stop with a "Segmentation fault."

[2016-04-20 09:38] wsybupt commented on #21
When I change the

[code]

to

[code]

there is no "Segmentation fault".
The new message is that:

[code]

[2016-04-21 01:56] zhangchen-qinyinghua commented on #23
Done.
https://github.com/dmlc/MXNet.cpp/pull/24

[2016-04-21 01:56] #23 closed, assigned to nobody

[2016-04-21 01:58] zhangchen-qinyinghua commented on #22
done.

[2016-04-21 01:58] #22 closed, assigned to nobody

[2016-04-21 04:02] zhangchen-qinyinghua commented on #21
Still, it seems to me something wrong with the library.
Did you link the latest mxnet library?
Or did you modify the mlp.cpp?

BTW, the message given by LinearRegressionOutput may infer that the shape of your Label NDArray is wrong, which should be (128, 10). While if you were using SoftmaxOutput, the shape of the Label NDArray should be (128).

[2016-04-21 07:49] wsybupt commented on #21
@zhangchen-qinyinghua Thank you for your answer!
I have use another computer and now I can run the example, but there are still some problems.
When the training is run to the last, it stops not normal with the message:

[code]

[2016-04-21 07:49] wsybupt commented on #21
Are there some conditions for the computer?

[2016-04-22 08:45] zhangchen-qinyinghua commented on #21
The requirement of MXNET.cpp should be the same as mxnet, except that MXNET.cpp need your compiler supports c++11 features such as auto keyword and smart pointer.

Still I can't reproduce your problem. Have you modified any code of the mlp example?

[2016-04-27 07:08] wsybupt opened #25 "Why are the .h files in MXNet.cpp different from the .h files in MXNet?"
The .h files in MXNet.cpp/include/mxnet-cpp are not all the same as the .h files in mxnet/include/mxnet. For example, the  bash.h in mxnet/include/mxnet define the Context as a struct:

[code]

but the bash.h in MXNet.cpp/include/mxnet-cpp doesn't write the Context, but in the ndarray.h file define the Context as a class.

[code]

Can you tell me the reason? Thank you!

[2016-05-03 01:56] zhangchen-qinyinghua commented on #25
Sorry for the late replying.

In fact, we rewrote `base.h` to avoid including all the mxnet headers.

[2016-05-03 02:26] wsybupt commented on #25
@zhangchen-qinyinghua Thank you for replying ！

[2016-05-03 02:26] #25 closed, assigned to nobody

[2016-05-07 14:56] wsybupt opened #26 "How can I write an example to train mnist in c++?"
How can I read the mnist data?  I think I should use the mnist iterator, iter_mnist.cc, am I right?
So I need to rewrite the io.h to the MXNet.cpp/include/..?

[2016-05-09 01:52] zhangchen-qinyinghua commented on #26
We don't use data iterator for now, you can transform the data directly to a NDArray.
Check the lenet.cpp for example:
https://github.com/dmlc/MXNet.cpp/blob/master/example/lenet.cpp#L74-L77

[2016-05-13 23:29] tqchen opened #27 "Add Documents of MXNet.cpp to docs"
This project is getting valuable as people want to use compiled language for the project. I am opening this issue to see if you are interested in bring the documents to https://github.com/dmlc/mxnet/tree/master/docs/packages/c%2B%2B

This can help users to quickly get starting with mxnet.cpp!

[2016-05-16 10:10] zhangchen-qinyinghua commented on #27
I will try to add some to the document within a few days.

[2016-05-23 03:50] tuonion opened #28 "Train.csv"
Hi, where can I get the data sets-'train.csv'?

[2016-05-24 02:55] zhangchen-qinyinghua commented on #28
You can get it from kaggle
https://www.kaggle.com/c/digit-recognizer/data

[2016-05-24 10:17] zhangchen-qinyinghua commented on #28
The format of train.csv from Kaggle has been changed.
I'll try to upload the data file to some network disk later.

[2016-05-27 21:07] tqchen commented on #27
sounds great!

[2016-06-09 01:35] zhangchen-qinyinghua commented on #26
DataIter is now used, please check the example in the new PR https://github.com/dmlc/MXNet.cpp/pull/29

[2016-06-09 01:55] zhangchen-qinyinghua commented on #28
New lenet example with MXDataIter is introduced to MXNET.cpp.
Close this issue.

[2016-06-09 01:55] #28 closed, assigned to nobody

[2016-06-09 01:56] #26 closed, assigned to nobody

[2016-06-09 01:57] zhangchen-qinyinghua commented on #27
Still not done because of some other work...trying to make this happen a.s.a.p....

[2016-06-10 15:50] yangyiping opened #30 "The lenet.cpp example run error"
I am trying to run lenet.cpp sample.  An error occurred  at the first line with "Convolution" function.
However,  when we tried mlp.cpp,  it ran to end normally.

![default](https://cloud.githubusercontent.com/assets/18677049/15969679/02d5066c-2f6c-11e6-8a31-d87725950d29.png)

My development environment:
OS: windows10
visual studio 2013
GPU: geforce GTX 780

by the way, I noticed that the same err

[2016-06-12 01:39] zhangchen-qinyinghua commented on #30
Are you using the latest version of mxnet?

[2016-06-12 02:47] yangyiping commented on #30
@zhangchen-qinyinghua Thanks for your reply. I think that I am using the latest version because I downloaded it directly from "https://github.com/dmlc/MXNet.cpp" and the latest commit time of sample show "3 days ago".

[2016-06-12 06:48] zhangchen-qinyinghua commented on #30
Hi, @yangyiping
I mean the latest version of mxnet(https://github.com/dmlc/mxnet), not MXNET.cpp.

[2016-06-12 07:02] yangyiping commented on #30
@zhangchen-qinyinghua
I would like to run LeNet in visual studio C++ of microsoft in windows OS.
The latest version which i  mentioned is "https://github.com/dmlc/MXNet.cpp", not "https://github.com/dmlc/mxnet".
Do you mean that I should copy the folders and files obtained from "https://github.com/dmlc/MXNet.cpp" into the master folders obtained from "https://github.com/dmlc/mxnet" firstly,  and t

[2016-06-12 07:46] zhangchen-qinyinghua commented on #30
What I mean is you should use the latest mxnet library.
As mentioned here, https://github.com/dmlc/MXNet.cpp/blob/master/lib/windows/README.md
And there are new release of mxnet windows library, https://github.com/dmlc/mxnet/releases

Make sure you are using the latest mxnet library if you are using the latext MXNET.cpp :)

[2016-06-13 03:47] yangyiping commented on #30
Yes,I am using the latest mxnet library. I tried 20160531_win10_x64_gpu.7z and 20160531_win10_x64_cpu.7z. I copied  the libmxnet.lib into "MXNet.cpp-master\lib\windows\", and
libmxnet.dll into "MXNet.cpp-master\windows\vs\MxnetTestApp\". However the error still occurred.

[2016-06-13 07:47] realzheng opened #31 "Output abnormal when I applying MXNet.cpp to implement Multi-label task"
I use MXNet.cpp(@hjk41 ) to implement Multi-label(4 labels,33 classes per label)task,but the output is always the same【0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 **1** 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0】 whenever I c

[2016-06-13 19:50] zhangchen-qinyinghua commented on #30
@hjk41 @lx75249
Can you help debug this issue?

[2016-06-13 20:31] zhangchen-qinyinghua commented on #31
I don't know how you transform the multi-label problem. You concat results from 4 fc-layers into one and do softmax on it, what's the point?
I think you can try `Symbol::Group()` to make multi-output.
Maybe you can give your full codes here.
We don't have a multi-label classification example. So it will be nice if you can make a PR on that once you successfully implement the task.

[2016-06-14 02:10] realzheng commented on #31
@zhangchen-qinyinghua thanks for your reply，My code is refer to [https://gist.github.com/xlvector/6923ef145e59de44ed06f21228f2f879](url) which run success in python. And the full c++ code is [here](https://github.com/realzheng/mxnet_test/blob/master/multi_label_infer.cpp)

[2016-06-14 02:31] hjk41 commented on #31
Could you check whether the output of the previous layers change with regard to different inputs? It is hard to identify the problem just by looking at the code.

[2016-06-14 02:33] yangyiping commented on #30
OK. I will try.

[2016-06-14 03:18] realzheng commented on #31
@hjk41 ok,but how can I get the inner layers' output? Do I need to call the initial mxnet's c++ interface? And I have another doubt about the interface implemented in the file [op.h](https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/op.h):
`inline Symbol Concat(const std::string& symbol_name,
                     const std::vector<Symbol>& data,
                     int num_args,

[2016-06-14 06:43] hjk41 commented on #31
1. You can bind the intermediate symbols like fc31 and then feed input to get fc31's output value.
2. That is the Operator class interface. Operator class has SetParam() methods and operator(). You can take as look at Operator.h if you are interested.

[2016-06-14 06:46] hjk41 commented on #30
I think this is related to the binary compatibility problem. Could you try to build libmxnet.dll by yourself? Here is the instruction to build libmxnet.dll on windows: http://mxnet.readthedocs.io/en/latest/how_to/build.html#building-on-windows

[2016-06-14 06:48] conopt commented on #30
It's because that mxnet::cpp::Symbol has a constructor which accepts `SymbolHandle` (`void *`) as the only parameter, and in lenetcpp example, some Symbol are created like `Symbol("conv1")`, and visual studio matches the `void*` constructor with it.

[2016-06-14 06:53] conopt commented on #30
@yangyiping I have fixed it. You can try the new version to see if it works.

[2016-06-14 07:27] zhangchen-qinyinghua commented on #31
@realzheng
1.
I check and run your code.
Since I don't have file  ```multitask-0800.params```, I just leave the parameters randomly given.
It gives a result just as expected, 4*33 vectors, which has 4*33-1 0s, and one 1s.
I also do what @hjk41 said, the output of ```fc31``` and ```conc``` are all good.

2.
I think the main problem in your code is https://github.com/realzheng/mxnet_test/blob/master

[2016-06-14 07:59] realzheng commented on #31
@zhangchen-qinyinghua @hjk41 thanks for your suggestions.
1. I have tried :
`SimpleBind(ctx_cpu, args_map, map<string, NDArray>(), map<string, OpReqType>(), aux_map);`
before, and I found that there is no parameter in aux_map by loading file multitask-0800.params. The output is also the same as yours.
2. We have 4 labels,so I concatenate the four full-connection layers' output , I don't know if th

[2016-06-14 08:04] zhangchen-qinyinghua commented on #31
I deleted my last comment, because I tried the code of @realzheng , and just got the same result.
And I didn't find big problem in @realzheng 's code.
The output of concat layer changes when input changes, but the softmax result remain the same.
I am amazed to see that the randomly given parameters(gaussian N(0, 1) sampling) seem fully control the final output...

By the way, @realzheng
You're rig

[2016-06-14 08:25] yangyiping commented on #30
@lx75249 Thanks for your fix. In the new version, the position of error is changed to "Pooling" function in the 37th line in lenet.cpp from "convolution" function.
The debug trace information shows the cause is that "symbol_handle" can not be created  in "MXSymbolCreateAtomicSymbol" function.

[2016-06-14 08:30] conopt commented on #30
@yangyiping You need to use the latest libmxnet library (register the new dll globally or put the dll besides your binary), since they changed parameters of pooling.

[2016-06-14 09:41] conopt commented on #31
The data fed to SoftmaxOutput should have shape(batch_size, num_label). and the output is the same, where output[i*num_label+j] indicates the posibility of the ith image belonging to label j.

I also checked your code, your print the variable "p" but I don't see it elsewhere.

[2016-06-14 10:26] realzheng commented on #31
@lx75249
1. How can I set the shape info for SoftmaxOutput, the defined interface of SoftmaxOutput in [op.h](https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/op.h) is as below:
`inline Symbol SoftmaxOutput(const std::string& symbol_name,
                            Symbol data,
                            Symbol label,
                            mx_float grad_scale = 1,

[2016-06-14 10:34] conopt commented on #31
@realzheng The shape is inferred from data and arguments. I don't have multitask-0800.params, so I can't debug it. You can give it to me or dump your symbol by captchaNet.ToJSON() to help us debug.

[2016-06-14 11:07] realzheng commented on #31
@lx75249 @zhangchen-qinyinghua
I have uploaded the parameter file and update the code(https://github.com/realzheng/mxnet_test), thx.

[2016-06-15 05:34] conopt commented on #31
@realzheng I've tried your code. I think the code works as expected, that is, the output of concat layer changes while input changes (I use random input), and softmax layer correctly transforms the outputs to possibilities. I think the problem is likely related to your network or parameters, rather than mxnet.cpp.

[2016-06-15 06:10] realzheng commented on #31
@lx75249 I just rename the parameters' name,and the output changed when the input changed. The following codes show the differences before and after the modification：
Before:
        Symbol conv1_w("conv1_w"), conv1_b("conv1_b");
        Symbol conv2_w("conv2_w"), conv2_b("conv2_b");
        Symbol conv3_w("conv3_w"), conv3_b("conv3_b");
        Symbol fc1_w("fc1_w"), fc1_b("fc1_b");
        Symbo

[2016-06-15 07:59] zhangchen-qinyinghua commented on #31
@realzheng
So if you are using a pre-trained model, it will be a better idea to use the file containing parameters together with the net definition JSON file, as following:
https://github.com/dmlc/MXNet.cpp/blob/master/example/feature_extract/feature_extract.cpp#L43

[2016-06-15 09:16] realzheng commented on #31
@zhangchen-qinyinghua I have tried to load the net definition file before，but it threw out Segmentation fault. I trained the model in python.

[2016-06-15 09:21] conopt commented on #31
@realzheng After you correct parameter names, does the result meet your expectation? If so, we can close the issue since it's not due to mxnet.cpp.

[2016-06-16 02:39] realzheng commented on #31
@lx75249 The output is still not the desired result. BTW, Does the parameter "dim" of the function [Concat](https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/op.h#L170) have the same meaning as it in mxnet.symbol.Concat(_args, *_kwargs)---dim (int, optional, default='1') – the dimension to be concated.

[2016-06-16 06:59] conopt commented on #31
@realzheng I have tested the operator you used (`Concat`, `FullyConnected`, `Convolution`, see https://github.com/lx75249/MxNet.cpp/blob/qa/windows/vs/QA/deepqa.hpp#L364), and they performed well. I found that the network definition in your c++ code is slightly different with the python version, I think you should try an identical network first or train the parameters yourself.

[2016-06-16 08:10] realzheng commented on #31
@lx75249 Thanks for your suggestions, my C++ version code is transformed from the python version(https://github.com/realzheng/mxnet_test/blob/master/infer.py) which works fine(The model is trained with my own data) , and I think the only difference between them is the input parameter "dim" of Concat(https://github.com/realzheng/mxnet_test/blob/master/infer.py#L44). I'll check my code carefully aga

[2016-06-16 08:20] conopt commented on #31
@realzheng For your previous question, yes, the parameter `dim` has the same meaning across all mxnet packages, and starts from 0.

[2016-06-16 10:09] zhangchen-qinyinghua commented on #31
@realzheng
Could you please also provide the JSON net definition file?

[2016-06-17 02:13] realzheng commented on #31
@zhangchen-qinyinghua The net definition file is [here](https://github.com/realzheng/mxnet_test/blob/master/multitask-symbol.json) which was generated by the training code in python. And the mainly difference is the parameter [“dim”](https://github.com/realzheng/mxnet_test/blob/master/multitask-symbol.json#L342)，in python it works fine if set it as ‘0’.  In c++, setting the parameter as '0' or '1'

[2016-06-17 07:26] zhangchen-qinyinghua commented on #31
@realzheng
There seems to be some thing wrong with the JSON file you uploaded.
I generate another JSON file with `infer.py` you upload, using:

[code]

And I think you should try the folowing:

[code]

[2016-06-17 07:54] conopt opened #32 "The parameters to Reshape operator"
Why comment out the shape parameter in https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/op.h#L938 ? Although it's a struct of vector, the encoding scheme for it doesn't change (still `"(d0, d1, ...)"`. So it's ok and straightforward to type it with `Shape`.

[2016-06-17 08:36] zhangchen-qinyinghua commented on #32
Yeah, you're right.
I will remove the comment.

[2016-06-17 08:36] realzheng commented on #31
@zhangchen-qinyinghua Thanks,  you are right. I can get the desired results after correcting the shape parameter as `args_map["data"] = NDArray(Shape(batch_size, 3, 32, 90), ctx_cpu, false);` . But it still threw out  a "Segmentation fault" after `delete exe;` sometimes. And I'm also trying to use `Group` for multi-task now, it works too, but it also have a seg fault sometimes. BTW, are there othe

[2016-06-17 08:53] conopt commented on #31
@realzheng You can remove `NDArray::WaitAll()` unless you really need the data (like `GetData()`).

It seems the output abnormality has been resolved. Close this issue for now. As for the segmentation fault, you can open another issue.

[2016-06-17 08:53] #31 closed, assigned to nobody

[2016-06-20 05:25] #32 closed, assigned to nobody

[2016-06-20 16:17] thirdwing opened #35 "A newbie question"
In https://github.com/dmlc/MXNet.cpp/blob/master/example/lenet.cpp#L98-L100 we have

[code]

Is there any reason we need two assignments for `args_map["data"]`?

[2016-06-21 04:00] zhangchen-qinyinghua commented on #35
No, the first assignment is not needed. We should remove that.

[2016-06-21 19:57] #35 closed, assigned to nobody

[2016-07-01 06:55] LynetteXing1991 opened #39 "inline function “_MinusScalar” fails to work."
When writing the gru unit, I need to use "1-update" matrix. Following is my source code:
 Symbol gruLayer::step(Symbol &input)
{
    Symbol reset_i = FullyConnected("reset_i", input, inputWeights[0], biases[0], layerSize);
    Symbol reset = Activation("reset_act", reset_i + FullyConnected("reset_h", previousHidden, hiddenWeights[0], biases[0], layerSize, true), ActivationActType::sigmoid);
    Sy

[2016-07-01 08:08] zhangchen-qinyinghua commented on #39
I didn't find bugs around `_MinusScalar`.
However, I think you shouldn't set `no_bias` to be `true` in `FullyConnected` operator when you actually need a bias.
If you really don't want a bias, try:

[code]

No mater what, we really want a RNN example.

[2016-07-05 07:38] LynetteXing1991 commented on #39
Thank you very much for the no_bias writing.

But are you sure there is no bug in _MinusScalar? Because I run only the _MinusScalar function as follows,

![image](https://cloud.githubusercontent.com/assets/19683284/16577147/05c33584-42c6-11e6-8023-71d9ee47ddb6.png)

It would come up a exception:
![image](https://cloud.githubusercontent.com/assets/19683284/16577223/67a2e56a-42c6-11e6-9e82-f52dab3cc

[2016-07-05 07:43] LynetteXing1991 commented on #39
Directly using the _MinusScalar operator like：
auto fake_hidden_h = Operator("_MinusScalar")
        .SetParam("scalar_on_left", false)
        .SetParam("scalar", 1.0)
        .SetInput("lhs", sym_input)
        .CreateSymbol("fake_hidden_h");

also fails.....

[2016-07-05 10:33] zhangchen-qinyinghua commented on #39
@lx75249 @hjk41
Please help to fix this issue?

[2016-07-06 06:22] hjk41 commented on #39
This works fine for me:
`update - (mx_float)1.0f`

This fails:

[code]

It should be written like this:

[code]

[2016-07-06 06:29] hjk41 commented on #39
@LynetteXing1991 Since I cannot reproduce your problem. Could you recompile a libmxnet.dll with Debug flag and then add a breakpoint in c_api_error.h:36? You will then be able to get the error message which should tell us more information.

[2016-07-07 01:09] hjk41 commented on #30
Closing this for now.

[2016-07-07 01:09] #30 closed, assigned to hjk41, conopt

[2016-07-07 01:10] hjk41 commented on #21
inactive issue, closing for now

[2016-07-07 01:10] #21 closed, assigned to nobody

[2016-08-04 21:41] thirdwing opened #44 "Accuracy is low"
Basically we are using the same logic with python, forward->backward->update.

It seems a little weired after 100 epoch, we only get 0.91 with lenet.

[code]

Is this expected or I have done something wrong?

[2016-08-04 23:40] thirdwing commented on #44
@hjk41

[2016-08-05 05:20] thirdwing commented on #44
@zhangchen-qinyinghua any idea or suggestion?

[2016-08-05 05:50] thirdwing commented on #2
@zhubuntu I am facing the same problem. Have you solved this?

[2016-08-07 02:43] ftxj opened #45 "only use mlp.cpp success but when replace it such as googlenet.cpp I cant build it success"

[2016-08-09 16:22] #44 closed, assigned to nobody

[2016-08-12 03:55] horsepurve opened #47 "How to set different metric?"
In the examples I find no place to configure metric, so how can I specify different training metric e.g. acc, mse, auc, etc.?

Thanks!
@thirdwing

[2016-08-12 15:47] thirdwing commented on #47
I think right now we only have logloss and accuracy, see https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/metric.h

You can write more if you need.

[2016-08-16 02:43] cjsure opened #48 "The demo can not be debuged on win7"
It stoped when i ran the demo on windows7 and display nothing. Did any one meet the same issue like me?

[2016-08-29 20:13] rzoom opened #49 "Implement Executor::Reshape() to allow for varying batch sizes"
In `include/mxnet-cpp/executor.h` there is a comment to implement the `Executor::Reshape()` method.  I am interested in using different batch sizes during my network's training.

It would be great if someone could please take a look and implement the `Executor::Reshape()` method and provide a code example of how to use this method to change the batch size during training.

Thank you very much!  I'

[2016-09-01 19:12] hoomic opened #50 ""multiple definition of" error g++ when wrapping mxnet-cpp classes into another class"

[2016-09-02 02:13] zhangchen-qinyinghua commented on #49
You should be able to use Reshape as following:

[code]

[2016-09-16 19:49] #50 closed, assigned to nobody

[2016-09-26 05:31] wuzhijiexia opened #51 "How to setup???"
I don't know how to setup it. Is this ok if we make it directly?

[2016-11-11 06:12] centosrhel opened #52 "feature extraction with libmxnet_predict.so doesn't work"
https://github.com/dmlc/mxnet/issues/3794
I want to extract feature layer from a trained model, and do feature extraction on an image, but it does not work with libmxnet_predict.so. with the full libmxnet.so, it's ok
Does anybody have solutions?

[2016-11-11 08:22] #52 closed, assigned to nobody

[2016-11-26 15:40] dneprDroid commented on #51
Maybe this:
http://mxnet.io/get_started/setup.html#step-1-build-the-shared-library    ?

[2016-12-30 08:23] yunge opened #55 "Need update for mxnet0.9"
There are some changes in c_api.h,  the project need to be updated, thanks.

[2017-01-05 12:45] conopt commented on #51
@wuzhijiexia, mxnet.cpp is header only, which means that you just need to include the headers in your project, do what you want, and link the mxnet library (can be downloaded from https://github.com/dmlc/mxnet/releases)

[2017-01-09 03:15] kongjiellx opened #60 "get error when run charRNN with vs2013update5"
[code]

maybe the transpose op should add a arg about axes?
how can fixed it?

or maybe vs2015 don't have this problem...?
but i can't find a transpose function with only one arg exactly

[2017-01-09 03:23] kongjiellx commented on #60
or maybe vs2015 don't have this problem...?
but i can't find a transpose function with only one arg exactly

[2017-01-09 03:33] kongjiellx commented on #60
and I'm new here, I fell confused about the differences about the MXNet.cpp's include file and mxnet source file.
I can't find any opreation like conv or FullyConnected in https://github.com/dmlc/mxnet/tree/master/include/mxnet
but MXNet.cpp have.

how can i start with mxnet's source code but not MXNet.cpp?

and how can i get the resnet.cpp's train data?
i can't find "sf1_train.lst" in http://data

[2017-01-09 04:47] #51 closed, assigned to nobody

[2017-01-09 04:47] #39 closed, assigned to nobody

[2017-01-09 04:47] #45 closed, assigned to nobody

[2017-01-09 04:48] #47 closed, assigned to nobody

[2017-01-09 04:48] #49 closed, assigned to nobody

[2017-01-09 08:44] JM-Chen opened #62 "How to use the sum_axis fuction like mx.sym.sum(temp,axis=1,name='temp1')?"
Thank you very much for a help!

[2017-01-09 14:54] mz24cn commented on #60
transpose issue: it is a bug: https://github.com/dmlc/MXNet.cpp/pull/53
and https://github.com/dmlc/MXNet.cpp/pull/54.
but, ... even the two issues were resolved, the code still cannot properly run for latest MXNet version after NNVM refactored. I am working on it.

[2017-01-09 14:58] mz24cn commented on #60
I wanna know how you find file charRNN.cpp since it had been reverted by @lx75249. I cannot see it when clone the repository to local.

[2017-01-09 15:03] kongjiellx commented on #60
@mz24cn
you can find it here
https://github.com/dmlc/MXNet.cpp/tree/06478fe1545bf1c500f38a597efa7ebe6c8c16ee/example

[2017-01-10 04:23] chrisplyn commented on #48
I seems to have similar issue. I can build the program and run it without any problems, but when I execute the MxnetTestCpp.exe file, the program seems hanging there and displays nothing.

[2017-01-10 04:26] chrisplyn opened #63 "No output for MxnetTestCpp program"
I can successfully build the given MxnetTestCpp propram, but when I execute it no output is generated, does anyone have similar issue?

[2017-01-11 02:37] kongjiellx commented on #63
if your system is win7, update to win10.

[2017-01-11 17:00] conopt commented on #55
updated

[2017-01-11 17:00] #55 closed, assigned to conopt

[2017-01-12 12:06] yunge commented on #55
Thanks!

[2017-01-13 11:37] conopt commented on #63
mxnet.cpp has been updated, please check again.

[2017-01-13 11:38] conopt commented on #62
https://github.com/dmlc/MXNet.cpp/blob/master/include/mxnet-cpp/op.h#L475

[2017-01-13 12:30] conopt commented on #48
I think you need 1. see readme.txt under lib/windows 2. download mingw-w64 and libopenblas and set environment variable PATH accordingly.

[2017-01-13 12:30] conopt commented on #63
I think you need 1. see readme.txt under lib/windows 2. download mingw-w64 and libopenblas and set environment variable PATH accordingly.

[2017-01-19 08:56] flyers opened #64 "mlp example reports segmentation fault error when exits"
The mlp example here https://github.com/dmlc/MXNet.cpp/blob/master/example/mlp.cpp will not exit normally but complains about a segmentation fault (core dumped) error, probably because some of the resources are not cleaned up. Does anyone know why?
Thanks.

[2017-01-19 14:55] mz24cn commented on #64
try calling MXNotifyShutdown() before main() exits.

[2017-01-19 15:41] flyers commented on #64
@mz24cn Thanks for your reply. It works.
Besides, I also found the other examples don't work well under the current master mxnet version.
For example, the lenet and googlenet example just give segmentation fault error.

[2017-01-19 16:26] flyers commented on #64
@mz24cn In the lenet example, it looks like that the segmentation error starts from the convolution layer construction https://github.com/dmlc/MXNet.cpp/blob/master/example/lenet.cpp#L34-L35

[2017-01-19 16:57] mz24cn commented on #64
try copying dmlc/nnvm.git repository latest version into dmlc/mxnet/nnvm directory, then recompile mxnet, rerun the examples.

[2017-01-19 17:30] flyers commented on #64
@mz24cn Thanks very much. This issue can be closed now.

[2017-01-23 18:23] #64 closed, assigned to nobody

[2017-02-08 09:00] futurely opened #69 "feature_extract failed to compile"
[code]

[2017-02-12 01:23] hjk41 opened #71 "merging into mxnet repo"
I propose to merge mxnet.cpp into mxnet project.
1. It will attract more attention to mxnet.cpp.
2. It will enable integrated test with mxnet, so that future checkins to mxnet will not break mxnet.cpp

[2017-02-12 01:26] hjk41 commented on #71
@lx75249 @zhangchen-qinyinghua

[2017-02-12 12:53] conopt commented on #71
The most convinient way is to add a subdirectory (cpp-package) in mxnet's root, like other language bindings (R and scala). In this way, the main work is test integration. (I guess we can also add some hook for regenerating op.h when mxnet is updated? I'm not sure if it's possible in github)

[2017-02-13 02:20] hjk41 commented on #71
I agree with the subdirectory approach. As for the update hook, I guess we can hook it, but not sure if we can execute python script inside the hook.
Anyway, let's merge it first, and then try to figure out the hook thing.
@lx75249 Could you create a PR to mxnet with the subdirectory?

[2017-02-13 12:21] conopt commented on #71
OK. I will do it.

[2017-02-15 05:27] qiyuangong commented on #71
I think this should be done ASAP. Because this repo is far behind other interfaces, e.g, Python. Meanwhile, it  is really important for industrial envo (e.g, data center), where Python and other dependencies are normally not installed.

[2017-02-15 14:20] craftit opened #74 "Missing input validation can cause memory corruption."
I have some code that can vary the batch size as I process the data.  I have been trying it with mxnet, and ran into memory corruptions and crashes. I traced the problem to an wrongly sized array, code to reproduce the problem is attached.   Ideally mxnet should report the array is of an unexpected size and abort.

[testMXNet.zip](https://github.com/dmlc/MXNet.cpp/files/777305/testMXNet.zip)

[2017-02-24 18:10] smissan opened #75 "saving/loading models"
Guys,

could you point to the example on how to save/restore model state (weights, not structure)

thanks

[2017-02-26 17:25] peakmeans commented on #75
alexnet.cpp and    charRNN.cpp   have,but error.
   can U  tell me  how to do.
   thanks all.

[2017-02-27 01:25] mz24cn commented on #75
what's error in charRNN.cpp ?

[2017-02-27 03:20] zhangchen-qinyinghua commented on #71
I agree :)

[2017-02-27 14:20] peakmeans commented on #75
I  had done this test:
1, write a mlp Symbol;

2,,before saving paramters, I write these:
/////////////////////////////////////////////////////////////
	std::map<std::string, NDArray> args_map;
	args_map["data"] = NDArray(Shape(batch_size, 1, 10, 10), ctx_dev, false);
	args_map["data_label"] = NDArray(Shape(batch_size), ctx_dev, false);
	testSymbol.InferArgsMap(ctx_dev, &args_map, args_map);
/////

[2017-02-27 14:52] peakmeans commented on #75
@mz24cn  Are U chinese?我英文不太好。要是两个中国人在本土上用英文来探究问题，感觉怪怪的，哈哈哈。
上面这个问题，我初步认为是存储有问题。
charRNN的SaveCheckpoint能存储参数，但是里面的数字，4、5啊我不清楚有什么用。这个SaveCheckpoint存储的参数，在predict的MXPredCreate()是不能用的，可能SaveCheckpoint和真正的存储存参数实现不一样，但我不清楚里面有什么差异。
另外，我把charRNN中成套的存储加载过程复制了，依旧跑不通，就是上面的问题。成套的存储和加载，按理应该没问题，但实际上是有点问题。

你们用mxnet平台的C++接口实现了几个重要的网络结构，这个工作非常棒！！像caffe上的用prototxt配置文件实现的resnet真是。。。。你们这个用程序逻辑实现的网络结构简洁明了。而且还有rnn。

[2017-02-27 15:08] peakmeans commented on #75
@mz24cn 建议你们：
1、#include "mxnet-cpp/MxNetCpp.h"这个头文件呢，现在只能是一个文件中跑通，要是其他文件再次调用这个文件就会弹错。这问题不知道怎么回事，能解决吗？这个可能会影响很多人的，尤其是用C++拿这个平台做各种实验的人。
2、能提供python中的部分强化学习的C++实现样例吗？这样我们可以在转换语言的时候省点时间。

[2017-02-28 02:48] mz24cn commented on #75
charRNN‘s Load/Save is only used as demo for the example. It cannot fit for other examples, nor python predict API except that the net model  and parameter names are same as the C++ code.

1，charRNN的Load/Save只是给这个例子用的演示，并不能通用于其他例子，或者python模型的数据。
2，Load/Save显然只需要保存weight/bias之类的参数，至于data/label当然不必保存，要排除（包括RNN的init状态值）。mxnet默认是通过数据名称约定识别是参数（weight结尾）还是数据（如label结尾）。这就是数字4，5的用处。
3，charRNN的Load/Save用于自

[2017-02-28 15:02] smissan commented on #75
if you can point us to mxnet C api to achieve the same result, it would be helpful, too

[2017-02-28 17:08] peakmeans commented on #75
@smissan  in src/c_api/c_predict_api.cc line 115,I can find load parameters,this can load paramters that saved parameters by python after train.  but I can't find the saving stage that use c/c++.
@mz24cn 谢谢。1-3，了解了。关于load通用的params参数，我直接用现成的（c_predict_api.cc实现的），对应save的话，我要根据你说的再去试一下，如果你提供save的实现例子是最好不过了。
4，我的情形是一个main.cpp入口，多个.h和.cpp，多个.h中引用了mxnetcpp.h。弹错显示的是重复定义。这个还不算太迫切，迫切的是paramters的load和save的功

[2017-03-02 09:35] zerofo-tang opened #76 "GPU NDarray memory"
請問 MXNet.cpp 有free 掉 或者 delete NDarray的api嗎?
因為 架構還要  繼續用  所以不想del   Executor,重新load model;

[2017-03-28 09:30] Bumblebee1964 opened #77 "Problem with MNIST iterator"
I run MXNet with MXNet.cpp on Windows 10. The mlp.cpp example runs ok for both GPU and CPU. But running the mnist / lenet example with dataiter, creating the MNIST dataIter throws an error.

int main(int argc, char const *argv[]) {
  /*setup basic configs*/
  int W = 28;
  int H = 28;
  int batch_size = 128;
  int max_epoch = 100;
  float learning_rate = 1e-4;
  float weight_decay = 1e-4;

  /*cha

[2017-03-28 13:47] Bumblebee1964 commented on #77
In addition to the problem above, I managed to debug in the MxNet code. In source file local_filesys.cc there is the following method:

void LocalFileSystem::ListDirectory(const URI &path, std::vector<FileInfo> *out_list) {
#ifndef _MSC_VER
  DIR *dir = opendir(path.name.c_str());
  if (dir == NULL) {
    int errsv = errno;
    LOG(FATAL) << "LocalFileSystem.ListDirectory " << path.str()

[2017-03-28 13:49] Bumblebee1964 commented on #77
Sorry, the formatter of the textbox is messing up:
For Windows systems, I guess the character **/** in the search pattern is illegal and should be a **backslash**. I am right?????

[2017-04-18 13:05] BensonBlack opened #78 "Params interface question"
NDArray::LoadToMap() can load params by file name.Is there any interface that can load params by raw bytes?

[2017-04-18 13:21] BensonBlack commented on #78
@hjk41

[2017-04-20 15:14] patricianing opened #79 "What is the difference of an executor and a predictor handle?"
If I want to score in batches using cpp api, should I use executor  or predictor handle?
It seems MXPredSetInput can only accept single image instead of batch of images, correct?
If I need to use executor, how to create one from a saved model?

[2017-04-20 22:19] patricianing opened #80 "batch scoring in cpp"
I am trying to load a pre-built model and do batch scoring, I tried the following two ways, the first one can produce some results, and the second one compiles successfully but runs with segmentation fault. Could you please let me know which way I should follow, and why the second way doesn't work? Thanks!
method 1:

    /* Image size and channels */
    int width = 224;
    int height = 224;

[2017-06-01 07:37] tianyunfei commented on #69
add "()" like this   (data.data())

[2017-06-01 09:11] #69 closed, assigned to nobody

[2017-06-01 09:25] conopt commented on #69
@futurely This project is deprecated. You should use this one https://github.com/dmlc/mxnet/tree/master/cpp-package

[2017-06-23 06:57] ydmo commented on #48
@cjsure Hi~, I meet the same problem, have you solved it?

[2017-07-16 15:30] NiklasTreutner commented on #17
@zhubuntu

I tried to run your second code-sample, but it crashed when initializing the Deconv-Symbol:
`Symbol bigscore = Deconvolution("bigscore", score_fr, bigscore_w, bigscore_b, Shape(64, 64), 3, Shape(32, 32));`

( Exception thrown at 0x00007FFD9C94E137 (libmxnet.dll) in MxNetClassifier.exe: 0xC0000005: Access violation reading location 0xFFFFFFFFFFFFFFFF )

Do you have any recommendation? It

[2017-07-21 06:39] zhubuntu commented on #17
@NiklasTreutner Sorry, i'm using caffe now, maybe you can ask other people for help.

[2017-07-21 07:12] NiklasTreutner commented on #17
ok, thanks for your reply!

[2018-01-30 07:49] gongxijun commented on #80
hey , man . , i have the same problem. did you solve it ?

[2018-03-22 06:11] kli-casia commented on #21
same problem.

[2018-11-09 09:23] WANG-MengJiao commented on #31
@lx75249 I am using a c++ api for mxnet to extract a 512-dim feature vector from images. The feature vector will be saved as .xml file. I also encounter with the problem that with/without `NDArray::WaitAll()` generate totally different outputs. Among the results, with `NDArray::WaitAll()` can get correct vector. So I am wondering if I remove the `NDArray::WaitAll()`, how can I get the correct outp

[2018-11-09 10:45] conopt commented on #31
@WANG-MengJiao This repository has been moved to https://github.com/apache/incubator-mxnet/tree/master/cpp-package
If you are using the latest version, please submit an issue in that repository. Thanks!

[2018-11-25 14:26] #77 closed, assigned to nobody

[2020-02-29 01:01] konioyxgq commented on #31
@WANG-MengJiao  @lx75249  I have the same problem, have you solved it? Is there any trick you do?